# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
al2o3/al2o3_cmath-build/
al2o3/al2o3_memory-build/
al2o3/al2o3_os-build/
al2o3/al2o3_tinystl-build/
al2o3/al2o3_os-build/
